.custom-checkbox {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    appearance: none;
    background-color: white;
    border: 2px solid #D3D3D3;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  
  .custom-checkbox:checked {
    background-color: black;
    border-color: black;
  }
  
  .custom-checkbox:checked::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  